  <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../detalhar.css">
    <link rel="shortcut icon" href="../../assets/carro.ico" type="image/x-icon">
    <title>Detalhar Veículo</title>
</head>
<body>
    <h1>Informações do Veículo - <%= carro.marca %> <%= carro.modelo %></h1>
<div class="container">
    <div>
    <strong>Marca:</strong> <%= carro.marca %>
    </div>
    <div>
        <strong>Modelo:</strong> <%= carro.modelo %>
    </div>
    <div>
        <strong>Ano:</strong> <%= carro.ano %>
    </div>
    <div>
        <strong>Placa:</strong> <%= carro.placa %>
    </div>
    <div>
        <strong>Cor:</strong> <%= carro.cor %>
    </div>
    <div>
        <strong>Preço da Diária:</strong> R$ <%= carro.preco_diaria.toFixed(2) %>
    </div>
    <br>
    <div>
         <a href="/carros"><button>Listagem</button></a> 
    </div>
</div>
   
</body>
</html>
